
.login-form {
    position: relative;
    z-index: 1;
    background: white;
    padding: 31px;
    border-radius: 0px 75px 75px 0;
}


body {
    background-image: url('../images/login-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

/* Tombol login */
.m-btn-login {
    background-color: #232E66 !important;
    height: 50px !important;
    color: white !important;
    font-weight: bold;
}

.m-btn-login:hover {
    background-color: #1a2250 !important; /* Warna sedikit lebih gelap saat hover */
    cursor: pointer !important;
}



/* Text hyperlink Sign Up */
.text-signup a {
    color: #232E66;
    font-weight: bold;
    text-decoration: none;
}

.text-signup a:hover {
    text-decoration: underline;
}

/* Style untuk gambar login */
@media  (max-width: 1024px) and (orientation: portrait), (max-width: 768px) {
    body {
        background-image: none !important;
        background-color: white !important;
    }
}

